// Colors
$mainColor:rgb(1,29,70);
$secondaryColor:aliceblue;
$bodyColor: rgb(210,222,240);



$paleta:(
    'uno': rgb(1,29,70),
    'dos': aliceblue,
    'tres': rgb(210,222,240),
    'cuatro': rgb(63, 210, 63),
    'cinco': rgb(233, 17, 103),

);