
// index-inicio
.h1-center{
    font-family: $mainFont;
    font-size: 6rem;
    text-align: center;
}

.img-perfil{
    padding: 20px;
    margin: auto;
    width: 35%;
    height: auto;
}

//descripcion
.descripcion_flex{
    display: flex;
    flex-direction: row;
}

.descripcion_img{
    padding: 20px;
    width: 65%;
    height: auto;
}

.text-size{
    font-size: 2rem;
}


// descargar-cv

body{
    main{
        section{
            h2{
                font-size: 30px;
                text-align: center;
                font-family: $mainFont;
            }
        }
    }
    

}



body{
    main{
        section{
            div{
                button{
                    a{
                        &:hover{
                            color: map-get($map: $paleta , $key: 'uno');

                        }
                    }
                }
            }
        }
    }
}


.text-size--l{
    @include text-and-btn(center,3rem,25px)
    
}
.boton-cv{
    @include text-and-btn(center,1.5rem,25px)
}

.cv-flex{
    @extend .descripcion_flex;
    justify-content: space-around;
    padding: 20px;
} 

.img-habilidades{
    width: 10%;
    height: auto;
}

.padding-btn-cv{
    padding-bottom: 20px;
}
.btn-cv{
    background-color: map-get($map: $paleta, $key: 'uno');
    text-align: center;
    width: 40%;
    color: map-get($map: $paleta, $key: 'dos');
    padding: 15px;
    font-family: $mainFont;
}
.btn-lg{
    font-size: 2rem;
}

.a-cv{
    text-decoration: none;
    color: $secondaryColor;

}








// proyectos

.gallery{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 1rem;
    width: 100%;
    height: auto;
}

.gallery-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gallery-img:nth-of-type(1){
    grid-column:span 8;
    grid-row:span 1;
    


}

.gallery-img:nth-of-type(2){
    grid-column:span 4;
    grid-row:span 1;
    

}
.gallery-img:nth-of-type(3){
   grid-column:span 4;
   
    
}

.gallery-img:nth-of-type(4){
  grid-column:span 4;
  
  
}

.gallery-img:nth-of-type(5){
  grid-column:span 4;  
}



.h1-gap{
    padding: 20px;
}

// contacto

body{
    main{
        section{
            form{
                width: 60rem;
                background-color:$mainColor ;
                color:$secondaryColor ;
                padding: 30px;
                margin: 30px;
                font-family:$mainFont;
                font-size: 3rem;
                border-radius: 3px;
            }
        }
    }
}

textarea{
    resize: none;
}

.form-flex{
    text-align: center;
    display: flex;
    justify-content: center;
}

.form-control{
    padding: 1rem;
    font-size: 2rem;
}